
ce-article {
    /* Place article styles go here */
}

.amenities {
    margin-top: 40px;
}

.amenities h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

.amenities-list ul {
    list-style: none;
}

.amenities-list li {
    padding-left: 20px; /* Adjust as needed */
    background: url("../images/icon.png") no-repeat left center; /* Replace with the actual path to your icons */
}

.reviews {
    margin-top: 40px;
}

.reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

.reviews-list ul {
    list-style: none;
}

.reviews-list li {
    margin-bottom: 20px; /* Adjust as needed */
}

/* Add more styles as needed */

