footer {
  background-color: white;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center; /* vertically center content */
  justify-content: center;
  line-height: 1.5; /* Adjust line height for better spacing */
  border-top: 1px solid #CCCCCC;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow at the top of the footer */
  z-index: 1000; /* Ensure the footer stays above other elements */
}

